*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 16px;
}

header{
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.main-container{
height: 175vh;
width: 90%;
    padding: 1rem;
}
.menu img{
    height: 1.5rem;
}
.cart-icon img{
    height: 1.5rem;
}
.title a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    font-weight: 600;

}

.checkout{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
}
.checkout-text{
    color: black;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
}
.checkout-subtext{
    color: rgb(134, 132, 132);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 0.8rem;
}
.main-container h2{
    margin-bottom: 1rem;
    color: black;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 0.85rem;
}
/* input[type="email" ]{
    width: 80%;
    border: 0;
    border-bottom: 0.5px solid rgb(130, 128, 128);
    padding: 1rem;
} */

/* input[type="tel" ]{
    width: 80%;
    border: 0;
    border-bottom: 0.5px solid rgb(130, 128, 128);
    padding: 1rem;
} */
.input-label{

    position: relative;
    /* height: 1rem; */
    display: flex;
    align-items: center;
    height: 4rem;
}
.informtion{
   margin-left: 1rem;
   margin-right: 0.5rem;
}
.input-label input{

    border: 0;
    border-bottom: 1px solid rgb(135, 134, 134);;
    outline: none;
    padding: 0.5rem;
    width: 100%;
}
.input-label label{
    position: absolute;
color: rgb(135, 134, 134);
    /* top: 0; */
    font-family: 'Roboto Flex', sans-serif;
    left: 0;
    font-size: 1.2rem;
}
.input-label input:focus+label{
    font-size: 0.9rem;
    top: -0.1rem;
    color: black;
    font-family: 'Roboto Flex', sans-serif;
    /* border-bottom: 1px solid black; */
}

.account-info{
    margin-top: 1rem;
}
.country{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
/* .informtion,.person-details,.payment-desc{
border: 1px solid black;
} */
/* 
.account-info .div{
    padding: 1rem;
    border: 2px solid red;
    position: relative;
}

.account-info .div > label{
    border: 2px solid red;

    position: absolute;
} */
.shipping-add {
    margin-top: 1rem;
}
.shipping-add input{
    /* width: 80%; */
    border: 0;
    border-bottom: 0.5px solid rgb(130, 128, 128);
    padding: 1rem;
}
.state-pin{
    display: flex;
    
}
#state{
    width: 80%;
}
.state{
   width: 50%;
}
.zip-code{
    width: 50%;
}
#country{
    margin-top: 1rem;
    width: 100%;
    border: 0;
    background-color: white;
    border-bottom: 2px solid black;
    /* padding: 1rem; */
    outline: none;
}
.billing h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.payment-method h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#card-holder{
    width: 100%;
    border: 0;
    border-bottom: 0.5px solid rgb(130, 128, 128);
    padding: 1rem;
}
#card-no{
    width: 100%;
    border: 0;
    border-bottom: 0.5px solid rgb(130, 128, 128);
    padding: 1rem;
}
.expiry-date{
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 4rem;

}
.month{
    width: 33%;
    display: flex;
    flex-direction: column;
}
.year{
    display: flex;
    /* align-items: flex-end; */
    width: 33%;
}
.cvv-num{
    display: flex;
    /* bottom: 0; */
    bottom: -0.96rem;
    width: 33%;
}

#expiry[name="expiry-month"]{
    /* width: 33%; */
    width: 90%;
    border: 0;
    background-color: white;
    border-bottom: 1px solid rgb(130, 128, 128);
    padding:  0.5rem;
}
#expiry[name="expiry-year"]{
    /* width: 33%; */
    width: 90%;
    border: 0;
    background-color: white;
    border-bottom: 1px solid rgb(130, 128, 128);
    padding: 0.5rem;
}
#cvv{
    /* width: 33%; */
    width: 90%;
    border: 0;
    background-color: white;
    border-bottom: 1px solid rgb(130, 128, 128);
    padding: 0.5rem;
}
.item{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.item-name,.item-price{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.eachitem{
    display: flex;
    justify-content: space-between;
}
.order-sum h2{

    margin-top: 2rem;
    margin-bottom: 1rem;
}
.total-amount{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 0.8rem;
    margin-top: 1.5rem;
}
.order-button{
    
    display: none;
}
.order-place{
    padding: 1.4rem;
    width: 100%;
    background-color: rgb(35, 35, 57);
    position: fixed;
    bottom: 0;
    text-align: center;
    

}
.order-place a{
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    text-decoration: none;
    margin-right: 4rem;


}
.demo-button{
    display: none;
}

.billing label{
    margin-left: 1rem;
}
.billing input{
outline: 1px solid black;

}

@media (min-width:768px){
    .main-container{
     margin: 5rem auto 0 auto;

     max-width: 950px;
    }
    .informtion{
        display: flex;
        /* justify-content: center; */
        margin: 3rem auto 0 auto;
    }
    .person-details{
        /* flex: 1;
         */

         width: 48%;
    }
    .menu{
        visibility: hidden;
    }
    .payment-desc{
        margin-left: 5rem;
        /* flex: 1; */
        width: 52%;
        /* margin-left: ; */
        display: flex;
        flex-direction: column;
    }
    .account-info{
        display: flex;
        flex-direction: column;
    }

    /* .account-info input{
        width: 80%;
    }*/
    .shipping-add {
        display: flex;
        flex-direction: column;
        /* width: 80%; */
    } 
    .payment-method{
        display: flex;
        flex-direction: column;
    }
    .payment-method h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .order-button{
        margin-top: 1.5rem;
        display: block;
        width: 8rem;
        padding: 0.5rem 1rem;
        text-align: center;
        font-family: 'Roboto Flex', sans-serif;
        border: 2px solid black;
    }
    .order-place{
        display: none;
      }
    
      .demo-button{
        bottom: 0;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 3rem;
       }
       footer a{
        font-family: 'Roboto Flex', sans-serif;
        text-decoration: none;
        font-weight: 300;
        color: rgb(136, 133, 133);
        font-size: 0.87rem;
        
      }
      .demo-only-button{
        
        font-family: 'Roboto Flex', sans-serif;
        margin-top: 0.812rem;
        width: 5rem;
        padding: 0.625rem 1.25rem;
        font-size: 0.87rem;
        font-weight: 300;
        background-color: black;
        color: white;
      }
}